*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #dd4196;
    color: #212d16;
}

.header-h {
    text-align: center;
    font-size: 36px;
    margin-bottom: 20px;
    color: #44355B;
}


.about-me {
    text-align: center;
    margin: 30px auto;
    font-size: 18px;
    max-width: 700px;
    padding: 30px;
    background-color: #dec3de;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(206, 175, 175, 0.1);
    
}

.about-me-container {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.about-me-image {
    width: 200px;
    height: auto;
    border-radius: 10px;
    
}

.my-skills {
    margin: 30px auto;
    max-width: 700px;
    text-align: center;
    font-size: 18px;
    padding: 30px;
    background-color: #dec3de;
    border-radius: 10px;
}
.my-skills h2 {
    font-size: 24px;
    color: #6a1b9a;
    margin-bottom: 10px;
    padding: 10px;
}
.my-skills ol {
    font-size: 24px;
    color: #6a1b9a;
    margin: 10%;
    margin-bottom: 10px;
}
/* Hobby Section */
.my-hobby {
    margin: 30px auto;
    max-width: 700px;
    padding: 20px;
    background-color: #221E22;
    border-radius: 10px;
}

.my-hobby h2 {
    font-size: 24px;
    color: #6a1b9a;
    margin-bottom: 10px;
    
}

.my-hobby ul {
    list-style-type: square;
    padding-left: 2px;
    line-height: 1.8;
}
.table-hobby {

    max-width: 800px;
    margin: 30px auto;
    background-color: #191010;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    border-radius: 8px;
    overflow: hidden;
}

.table-hobby caption {
    caption-side: top;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
    color: #4a148c;
}

.table-hobby th,
.table-hobby td {
    border: 1px solid #b95959;
    padding: 12px 15px;
    text-align: left;
}

.my-time {
    margin: 30px auto;
    max-width: 700px;
    padding: 20px;
    border-radius: 10px;
}
.table-schedule {
    max-width: 800px;
    margin: 30px auto;
    background-color: #191010;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    border-radius: 8px;
    overflow: hidden;
}

.table-schedule caption {
    caption-side: top;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
    color: #4a148c;
}
.my-time th,
.my-time td {
    border: 1px solid #b95959;
    padding: 12px 15px;
    text-align: left;
    color: rgb(49, 32, 32);
}
